<%= form_for(@problem) do |f| %>
  <% if @problem.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>
    <ul>
    <% @problem.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<div class="clearfix">
	<%= f.label :problem_title, "Problem Title" %><br />
	<div class="input">
		<%= f.text_field :problem_title %>
	</div>
</div>

<div class="clearfix">
	<%= f.label :problem_short_title, "Problem Short Title" %><br />
	<div class="input">
		<%= f.text_field :problem_short_title %>
	</div>
</div>

          <div class="clearfix">
            <label for="textarea">Problem Statement</label>

            <div class="input">
              <textarea class="xxlarge" id="textarea2" name="textarea2" rows="8"></textarea>
              <!--<span class="help-block">
                Block of help text to describe the field above if need be.
              </span>
              -->
            </div>
          </div><!-- /clearfix -->

<div class="clearfix">
            <label for="fileInput">Input File</label>

            <div class="input">
              <input class="input-file" id="fileInput" name="fileInput" type="file" />
            </div>
          </div><!-- /clearfix -->

          <div class="clearfix">
            <label for="fileInput">Solution File</label>

            <div class="input">
              <input class="input-file" id="fileInput" name="fileInput" type="file" />
            </div>
          </div><!-- /clearfix -->

          
<div class="clearfix">
	<%= f.label :time_limit %><br />
	<div class="input">
		<%= f.text_field :time_limit %>
	</div>
</div>

  <div class="actions"><%= f.submit "Create Problem", :class=>"btn primary" %>&nbsp;<button type="reset" class="btn">Cancel</button></div>
<% end %>
